<p id="notice"><%= notice %></p>

<h1>Payments</h1>
<%= link_to 'New Payment', new_payment_path %>
<table class="table">
  <thead>
    <tr>
      <th>payment_id</th>
	  <th>price<th>
    </tr>
  </thead>

  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td><%=payment[:id]%></td>
		<td><%="#{payment[:amount_money][:amount]}(#{payment[:amount_money][:currency]})"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


